In [2]:
import pandas as pd

# Series
## 创建Series
1. 从list
2. 从dict
3. ndarray/range

In [22]:
a = pd.Series(100, index=[1, 2, 3]) #标量
b = pd.Series([9, 8, 7, 6, 5])
c = pd.Series([9, 8, 6], index=['a', 'b', 'c'])
print(a)
print(b)
print(c)
c['b':'c']

1    100
2    100
3    100
dtype: int64
0    9
1    8
2    7
3    6
4    5
dtype: int64
a    9
b    8
c    6
dtype: int64

b    8
c    6
dtype: int64

In [9]:
d = {1:'a', 2:'b', 4:'c'}
pd.Series(d)

1    a
2    b
4    c
dtype: object

In [2]:
import pandas as pd

sites = {1: "Google", 2: "Runoob", 3: "Wiki"}

myvar = pd.Series(sites, index = [1, 2], name = 'TEST') #一部分数据

print(myvar)

1    Google
2    Runoob
Name: TEST, dtype: object

In [19]:
import numpy as np
b = np.arange(50, 0, -15)
c = np.array([1, 2, 3, 4])
s = pd.Series(b, index=c)
s.name = 'test'
s

1    50
2    35
3    20
4     5
Name: test, dtype: int32

## Series的操作
1. 属性index, values, name
2. slice [num] 索引 (可以用自定义的index)
3. 'index' in b,    b.get('e', -1) 类似字典
4. 数据对齐：补全+NAN
5. 数据修改：类似dict

In [23]:
a = pd.Series([9, 8, 7, 6])
b = pd.Series([1000])
a+b

0    1009.0
1       NaN
2       NaN
3       NaN
dtype: float64

# Dataframe
## 定义
pandas.DataFrame( data, index行索引, columns列索引, dtype, copy)
1. list对应每行的数据
2. ndarray **按列定义**
3. dict, 每个dict

In [10]:
data = [['Google',10],['Runoob',12],['Wiki',13]]
df = pd.DataFrame(data,columns=['Site','Age'], index = [1, 2, 3])
df

     Site  Age
1  Google   10
2  Runoob   12
3    Wiki   13

In [11]:
data = {'Site':['Google', 'Runoob', 'Wiki'], 'Age':[10, 12, 13]}
df = pd.DataFrame(data)
print(df)

     Site  Age
0  Google   10
1  Runoob   12
2    Wiki   13

In [12]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print (df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

## 索引
1. df.loc[i] 返回指定行的数据 **type为Series**